[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/michael/start/fzf.vim"]
	path = .vim/pack/michael/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/michael/start/dracula"]
	path = .vim/pack/michael/start/dracula
	url = https://github.com/dracula/vim
[submodule ".vim/pack/michael/start/vim-lsc"]
	path = .vim/pack/michael/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule ".vim/pack/michael/start/vim-polyglot"]
	path = .vim/pack/michael/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/michael/start/vim-tiddlywiki"]
	path = .vim/pack/michael/start/vim-tiddlywiki
	url = https://github.com/sukima/vim-tiddlywiki.git
[submodule ".vim/pack/michael/start/spectral.vim"]
	path = .vim/pack/michael/start/spectral.vim
	url = https://github.com/michaeljmcd/spectral.vim
[submodule ".vim/pack/michael/opt/ayu-vim"]
	path = .vim/pack/michael/opt/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
[submodule ".vim/pack/michael/opt/Base2Tone-vim"]
	path = .vim/pack/michael/opt/Base2Tone-vim
	url = https://github.com/atelierbram/Base2Tone-vim.git
[submodule ".vim/pack/michael/opt/vim-citylights"]
	path = .vim/pack/michael/opt/vim-citylights
	url = https://github.com/agreco/vim-citylights.git
[submodule ".vim/pack/michael/opt/vim-colors-solarized"]
	path = .vim/pack/michael/opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/michael/opt/vim-gotham"]
	path = .vim/pack/michael/opt/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule ".vim/pack/michael/opt/vim-colorschemes"]
	path = .vim/pack/michael/opt/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/pack/michael/start/surround"]
	path = .vim/pack/michael/start/surround
	url = https://tpope.io/vim/surround.git
[submodule ".vim/pack/michael/start/onedark.vim"]
	path = .vim/pack/michael/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/pack/michael/start/drools.vim"]
	path = .vim/pack/michael/start/drools.vim
	url = https://github.com/vim-scripts/drools.vim.git
[submodule ".vim/pack/michael/opt/papercolor-theme"]
	path = .vim/pack/michael/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule ".vim/pack/michael/start/jolie.vim"]
	path = .vim/pack/michael/start/vim-jolie
	url = https://github.com/jolie/vim-jolie
[submodule ".vim/pack/michael/start/vim-racket"]
	path = .vim/pack/michael/start/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule ".vim/pack/michael/opt/tokoynight-vim.git"]
	path = .vim/pack/michael/opt/tokoynight-vim.git
	url = https://github.com/ghifarit53/tokyonight-vim.git
[submodule ".vim/pack/michael/start/jcl.vim"]
	path = .vim/pack/michael/start/jcl.vim
	url = https://github.com/vim-scripts/jcl.vim.git
[submodule ".vim/pack/michael/start/janet.vim"]
	path = .vim/pack/michael/start/janet.vim
	url = https://github.com/janet-lang/janet.vim.git
[submodule ".vim/pack/michael/start/vim-iced"]
	path = .vim/pack/michael/start/vim-iced
	url = https://github.com/liquidz/vim-iced.git
[submodule ".vim/pack/michael/opt/challenger-deep-theme"]
	path = .vim/pack/michael/opt/challenger-deep-theme
	url = https://github.com/challenger-deep-theme/vim
[submodule ".vim/pack/michael/start/vim-lsp"]
	path = .vim/pack/michael/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/michael/start/vim-dirvish"]
	path = .vim/pack/michael/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule ".vim/pack/michael/opt/kytonight.vim"]
	path = .vim/pack/michael/opt/kytonight.vim
	url = https://github.com/voidekh/kyotonight.vim.git
[submodule ".vim/pack/michael/opt/cypher-vim-syntax"]
	path = .vim/pack/michael/opt/cypher-vim-syntax
	url = https://github.com/neo4j-contrib/cypher-vim-syntax.git
[submodule ".vim/pack/michael/start/cypher-vim-syntax"]
	path = .vim/pack/michael/start/cypher-vim-syntax
	url = https://github.com/neo4j-contrib/cypher-vim-syntax.git
